div.user_mani{
	width: 100%;
	height: 700px;
	margin-top: 52px;
	background: #f5f5f5
}
.user_mani_1{
	width: 80%;
	height: 100%;
	margin: auto;
	margin-top: 52px;
}
.logo_user{
	width: 80%;
	height: 17%;
	position: absolute;
	top: 90px;
}
.user_letf{
	width: 27%;
	height: 625px;
	position: absolute;
	top: 227px;
}
.letf_anh{
	width: 320px;
	height: 400px;
	margin-top: 10px;
	border: 1px solid rgba(0,0,0,.125);
}
.letf_anh_1{
	width: 80%;
	height: 160px;
	margin: auto;
	margin-top: 20px;
}
.anh_chinh{
	width: 150px;
    height: 150px;
    float: none;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 3px solid #eee;
    background: #eee;
}
.letf_chu{
	width: 85%;
	height: 200px;
	margin: auto;
}
.h1_name{
	font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
td{
	padding: 10px 5px 10px 10px;
}
.user_right{
	width: 714px;
	height: 625px;
	background: #f5f5f5;
	position: absolute;
	top: 227px;left: 600px;
}
.div_boder{
	font-weight: 700;
}
.span_name{
	display: block;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0,0,0,.11);
    border-radius: 4px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chinh_sua{
	height: 60px;
    margin-top: 30px;
}
.chinh_sua_1{
	width: 32%;
	float: left;
}
.a_chinh_sua{
	border: 1px solid #fe9900;
    background: #fff;
    color: #fe9900;
    display: inline-block;
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
}
.a_chinh_sua_1{
	border: 1px solid #fe9900;
    background: #fe9900;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 40px;
}
.form_hoai{
   display: block;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0,0,0,.11);
    border-radius: 4px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 499px;
    border: 0px;
}
.chinh_sua_11{
   width: 499px; 
}
.luu_thay_doi{
    border: 1px solid #fe9900;
    background: #fff;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #fe9900;
    background: #fe9900; 
}